@import "tailwindcss";

/* --- GLOBAL THEME VARIABLES --- */
:root {
  /* LIGHT MODE */
  --color-primary: #0D9488;       /* Teal 600 */
  --color-primary-hover: #0f766e; /* Teal 700 */
  --color-accent: #f97316;        /* Orange 500 (Coral) */
  
  --color-bg-body: #FAFAF9;       /* Stone 50 */
  --color-bg-card: #ffffff;       /* White */
  --color-bg-input: #ffffff;      /* White */
  --color-bg-toggle: #f1f5f9;     /* Slate 100 */
  
  --color-text-main: #1e293b;     /* Slate 800 */
  --color-text-muted: #64748b;    /* Slate 500 */
  
  --color-border: #e2e8f0;        /* Slate 200 */
}

/* DARK MODE OVERRIDES */
.dark-mode {
  --color-primary: #14b8a6;       /* Teal 500 */
  --color-primary-hover: #0d9488; /* Teal 600 */
  --color-accent: #fb923c;        /* Orange 400 */
  
  --color-bg-body: #0f172a;       /* Slate 900 */
  --color-bg-card: #1e293b;       /* Slate 800 */
  --color-bg-input: #1e293b;      /* Slate 800 */
  --color-bg-toggle: #020617;     /* Slate 950 */
  
  --color-text-main: #f8fafc;     /* Slate 50 */
  --color-text-muted: #94a3b8;    /* Slate 400 */
  
  --color-border: #334155;        /* Slate 700 */
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text-main);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}